@import "tailwindcss";
@font-face {
  font-family: "Monument";
  src: url("./fonts/MonumentExtended-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.woff2") format("woff2");
  font-display: swap;
}
